input.valid,
input.valid:focus {
    border: 0;
    outline: 0.5px solid #2dce89;
}

label.error {
    order: 2;
    width: 100%;
    margin: 0.4em 0 -1em 0;
    font-size: 0.800rem;
    color: #f5365c;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

input.error {
    border: 0.5px solid #f5365c;
    outline: 0.5px solid #f5365c;
}

.input-group-alternative {
    box-shadow: none;
}

.focused .input-group-alternative {
    box-shadow: none !important;
}

.input-form-class {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
}

.input-form-class:focus {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
}



.password-strength {
    display: none;
}

.password-strength-active {
    display: flex;
    justify-content: space-between;
}

#popover-password {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
}

.alert {
    padding: 0.3rem 0.5rem;
    margin-top: .8rem;
}

.alert-text {
    font-size: 0.8rem;
}

.alert-text span {
    font-size: 0.8rem;
}

.image-preview,
#callback-preview {
    width: 100%;
    /* width: 250px; */
    height: 250px;
    border: 2px dashed #ddd;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
}

.image-preview label,
#callback-preview label {
    position: absolute;
    z-index: 0.5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bfbfbf;
    width: 150px;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    /* color: #222222; */
    font-weight: bold;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.image-preview input,
#callback-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

#input-product-image-store-error {
    display: block;
}



/* @media screen and (max-width: 425px) {
    .container-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 0;
    }
} */

.container-products {
    /* gap: 30px 0; */
}

.product-description {
    text-overflow: ellipsis;
}

.btn-outline-danger:hover svg {
    color: white !important;
}

.swal2-cancel {
    background-color: #5e72e4 !important;
}

.span-stock {
    position: absolute;
    top: 0px;
    left: 0;
    padding: 10px;
    border-radius: 0;
}

.cart-shooping {
    /* position: absolute; */
    /* bottom: 159px; */
    /* left: 0; */
    /* padding: 10px; */
}

.cart-shooping>button {
    border-radius: 0;
}

.badge {
    font-weight: bold;
    font-size: 70%;
}

/*  */

/* .container-list-img {
    width: 120px;
} */

.container-list-img img {
    width: 100%;
}


.container-product-items {
    background-color: #fff;
    /* border-radius: 10px; */
    box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
    -webkit-box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
    -moz-box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
}

#dropdown-three {
    position: absolute;
    right: 20px;
    top: 5px;
}

/* .container-products {
    gap: 20px;
} */

#dropdown-three button {
    border-radius: 50px;
    border: none;
    padding: 0;
}

#dropdown-three button:hover {
    box-shadow: none;
    border: none;
    cursor: pointer;
}

#dropdown-three button:focus {
    box-shadow: none;
    outline: none;
}

.container-list-img,
.container-description,
.container-price,
.container-cuantity,
.container-user {
    width: 165px;
    min-width: 150px;
    padding: 20px;
    text-align: center;
}

/* .container-cuantity {
    width: 160px;
} */
.resumen-detalle,
.resumen-precio,
.total {

    width: 130px;
    min-width: 120px;
    padding: 20px;
    text-align: center;

}

.address {
    width: 100%;
}

.action-buy {
    display: flex;
    justify-content: space-between;
}

.buy-now,
.action-buy {
    width: 100%;
    /* min-width: 120px; */
    padding: 20px;
    text-align: center;
}

.container-user {
    width: 220px;
    min-width: 130px;
}

.container-product-items {
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    flex-wrap: wrap;
}

.btn:not(:last-child) {
    margin-right: 0 !important;
}


/* @media (min-width: 425) {

    .container-list-img,
    .container-description,
    .container-price,
    .container-cuantity {

        width: 60px;
        min-width: 30px;
        padding: 15px;
        background-color: red !important;

    }

    .container-products {
        background-color: blue;
    }

} */



.container-resumen {
    background-color: #fff;
    /* border-radius: 10px; */
    box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
    -webkit-box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
    -moz-box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
}


.discount-value-active {
    display: block;
}

.discount-value {
    display: none;
}


.text-decoration-line-through {
    text-decoration: line-through !important;
}

.span-on_sale {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0px;
}

.span-discount {
    position: absolute;
    right: 0px;
    top: 42px;
    border-radius: 0;

}

.span-on_sale-selected {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0;
}

.discount-value-selected {
    position: absolute;
    top: 28px;
    left: 0px;
    border-radius: 0;
}

/* * swiper client * */

.swiper {
    width: 100%;
    height: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
}


.swiper-client .swiper-button-prev,
.swiper-client .swiper-button-next {
    --swiper-navigation-size: 20px;
    background-color: white;
    height: 70px;
    width: 50px;
    margin-top: -35px;
    color: #5e72e4;
    opacity: 0;
    transition: opacity 0.3s;
}

.swiper-client .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -10px;
}

.swiper-client .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -10px;
}

.swiper-client:hover .swiper-button-prev,
.swiper-client:hover .swiper-button-next {
    opacity: 1;
}

.swiper-client .swiper-pagination {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 2px;
}

.swiper-client .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 1px #fff;
}

.swiper-client .swiper-pagination-bullet-active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 0px) and (max-width: 429) {

    .swiper-client .swiper-button-prev,
    .swiper-client .swiper-button-next {
        --swiper-navigation-size: 15px !important;
        background-color: white;
        height: 50px;
        width: 20px;
        margin-top: -45px;
        color: #5e72e4;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .swiper-client .swiper-button-prev {
        border-radius: 0 65px 65px 0;
        left: -10px;
    }

    .swiper-client .swiper-button-next {
        border-radius: 65px 0 0 65px;
        right: -10px;
    }

    .container-items-category {
        gap: 10px;
    }

}

/* * style client * */

.container-items-category {
    flex-wrap: wrap;
}

.div-container-category {
    width: 130px;
    min-width: 120px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #eeeeee;
}

.div-image-category {
    width: 100%;
}

.div-image-category img {
    width: 100%;
}

/*  */
/* @import url(https://fonts.googleapis.com/css?family=Nunito);

.select2-selection__rendered,
.select2-results__option,
.select2-results__option--selectable, .selection {
    font-family: var(--bs-body-font-family) !important;
    font-family: "Nunito", sans-serif !important;
    font-size: var(--bs-body-font-size) !important;
}
*/


.text-end {
    text-align: end;
}



.div-name-child-category {
    display: none;
}

.div-name-child-category-active {
    display: block;
}

.div-name-parent-category {
    display: none;
}

.div-name-parent-category-active {
    display: block;
}

/* ** */

.form-control:disabled,
.form-control[readonly] {
    background-color: #fcfcfc !important;
    opacity: 1;
}

/* * */

.image-product {
    width: 70%;
    margin: 0 auto;
}

.image-product img {
    width: 100%;
}


/* ** */

.view-product-on {
    position: absolute;
    top: 42px;
}


/*  */

.text-small {
    font-size: 0.8rem;
    font-weight: 600;
}


/** lista de productos */

@media only screen and (min-width: 0px) and (max-width: 429px) {

    .container-list-img,
    .container-description,
    .container-price,
    .container-cuantity,
    .container-user {

        width: 150px !important;
        min-width: 120px !important;
        padding: 15px !important;

    }




}

@media only screen and (min-width: 389px) and (max-width: 578px) {

    .card-responsive-mobil {
        width: 50% !important;
        /* min-width: 170px !important; */
    }



}




/* * */


.container-empty {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.button-empty {
    width: 100px;
    min-width: 120px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
}

.container-empty {
    display: flex;
    flex-wrap: wrap;
}

.image-empty,
.container-note {
    width: 350px;
    max-width: 290px;
}


.container-empty img {
    width: 100%;
    max-width: 190px;
}

.img-fluid {
    height: 250px;
}

.total{
    width: 100%;
    min-width: 200px;
}
.container-discount{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container-discount *{
    width: 100%;
    flex-wrap: wrap;
    min-width: 100px;
}
