input.valid,
input.valid:focus {
    border: 0;
    outline: 0.5px solid #2dce89;
}

label.error {
    order: 2;
    width: 100%;
    margin: 0.4em 0 -1em 0;
    font-size: 0.800rem;
    color: #f5365c;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

input.error {
    border: 0.5px solid #f5365c;
    outline: 0.5px solid #f5365c;
}

.input-group-alternative {
    box-shadow: none;
}

.focused .input-group-alternative {
    box-shadow: none !important;
}

.input-form-class {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
}

.input-form-class:focus {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
}



.password-strength {
    display: none;
}

.password-strength-active {
    display: flex;
    justify-content: space-between;
}

#popover-password {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
}

.alert {
    padding: 0.3rem 0.5rem;
    margin-top: .8rem;
}

.alert-text {
    font-size: 0.8rem;
}

.alert-text span {
    font-size: 0.8rem;
}

.image-preview,
#callback-preview {
    width: 250px;
    height: 250px;
    border: 2px dashed #ddd;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
}

.image-preview label,
#callback-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bfbfbf;
    width: 150px;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    /* color: #222222; */
    font-weight: bold;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.image-preview input,
#callback-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

#input-product-image-store-error {
    display: block;
}



/* @media screen and (max-width: 425px) {
    .container-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 0;
    }
} */

.container-products {
    /* gap: 30px 0; */
}

.product-description {
    text-overflow: ellipsis;
}

.btn-outline-danger:hover svg {
    color: white !important;
}

.swal2-cancel {
    background-color: #5e72e4 !important;
}

.span-stock {
    position: absolute;
    bottom: 170px;
    left: 0;
    padding: 10px;
    border-radius: 0;
}

.cart-shooping {
    position: absolute;
    bottom: 170px;
    left: 0;
    /* padding: 10px; */
}

.cart-shooping>button {
    border-radius: 0;
}

.badge {
    font-weight: bold;
    font-size: 70%;
}

/*  */

/* .container-list-img {
    width: 120px;
} */

.container-list-img img {
    width: 100%;
}


.container-product-items {
    background-color: #fff;
    /* border-radius: 10px; */
    box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
    -webkit-box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
    -moz-box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
}

#dropdown-three {
    position: absolute;
    right: 20px;
    top: 5px;
}

/* .container-products {
    gap: 20px;
} */

#dropdown-three button {
    border-radius: 50px;
    border: none;
    padding: 0;
}

#dropdown-three button:hover {
    box-shadow: none;
    border: none;
    cursor: pointer;
}

#dropdown-three button:focus {
    box-shadow: none;
    outline: none;
}

.container-list-img,
.container-description,
.container-price,
.container-cuantity {

    width: 130px;
    min-width: 120px;
    padding: 20px;

}

.container-cuantity {
    width: 160px;
}


.container-product-items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.btn:not(:last-child) {
    margin-right: 0 !important;
}


/* @media (min-width: 425) {

    .container-list-img,
    .container-description,
    .container-price,
    .container-cuantity {

        width: 60px;
        min-width: 30px;
        padding: 15px;
        background-color: red !important;

    }

    .container-products {
        background-color: blue;
    }

} */

/* Escritorio extra grande */
@media only screen and (min-width: 1200px) {}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Teléfonos */
@media only screen and (max-width: 575px) {



    .container-product-items {
        justify-content: space-evenly;
        padding: 0 !important;
        flex-wrap: nowrap;
        gap: 0;
    }

    .container-list-img,
    .container-description,
    .container-price,
    .container-cuantity {
        width: 70px;
        min-width: 0px;
        padding: 10px;

    }

    .container-description .card-title,
    .card-text {
        font-size: 0.5rem;
    }

    .container-price span {
        padding: 0.3rem;
        font-size: .5rem;
    }

    .container-cuantity {
        width: 80px;
    }

    /* .container-cuantity button,
    p,
    span {
        font-size: .5rem;
    } */

    .container-cuantity button {
        padding: 0.15rem 0.3rem;
    }

    .container-cuantity p {
        font-size: .4rem !important;
    }

    .row-cuantity {
        padding: 5.5px !important;
    }

    #dropdown-three {
        position: absolute;
        right: 20px;
        top: -5px !important;

    }

    #dropdown-three i {
        font-size: .5rem;
    }


}

.container-resumen {
    background-color: #fff;
    /* border-radius: 10px; */
    box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
    -webkit-box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
    -moz-box-shadow: 0px 1px 19px 0px rgba(236, 236, 236, 0.75);
}
